body{
    font-family: 'Alice', serif;
    background-color: azure;
}

h1{
    font-size: 2rem;
    padding: 20px;
    text-align: center;
    color: #424242;
}

.container{
    width: 1000px;
    height: 700px;
    margin: 0 auto;
    position: relative;

}

.game-container{
    margin: 0 auto;
    width: 350px;
    height: 630px;
    background-color: cadetblue;
    display: grid;
    grid-template-columns: repeat(10,1fr);
}

button,h2,.score{
    position: absolute;
    width: 100px;
    padding: 15px;
    right: 100px;
}

.start{
    top: 400px;
}

.stop{
    top:470px
}

h2{
    color: #424242;
    font-size: 2rem;
    top: 220px;
    right: 90px;
}

.score{
    right: 90px;
    padding: 10px;
    top: 290px;
    background-color: #FFE082;
    font-size: 1.8rem;
}